.menu-navigate {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: left;
  font-weight: bold;
  color: rgb(0, 56, 121);
  margin: 10px 30px;
}

.compulsory-item {
  color: red;
}

label {
  display: inline-block;
}